.nav-link{
    font-weight: bolder;
    color: #3C3C3C;
}
.Top-banner{
    margin-top: 10%;
   
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    
    
    padding-left:1%;
}
.half-width img {
    width: 100%;
}

.highlight{
    color:#363958;
    font-family: 'Bebas Neue', cursive;
}
.btn-outline-primary{
    color: white;
    background-color: #2E8B57;
    border-radius: 20px;
    padding: 10px 30px;
}
.card-footer-head {
    color: #FABE4C;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
    margin-right: 10px;
    padding-right: 10px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid white ;
    box-shadow: white;
    width: 400px;
    margin-bottom:8px;
    
    
    
}
.cat1{
    background-color:white;
    
}
.cat2{
    background-color: white;
    margin-top: 10px;
    
}
.cat3{
    background-color: white;
    margin-top: 10px;
}

.detail{

    padding-left: 10px;
    margin-left: 10px;

}